body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 0;
}

header,
footer {
    background-color: #fff;
    padding: 10px 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

header {
    position: sticky;
    top: 0;
    z-index: 1000;
}

footer {
    margin-top: 20px;
    text-align: center;
    font-size: 0.9em;
    color: #777;
}

code {
    font-family: "Fira Code", "Consolas", "Courier New", monospace;
    background-color: #2e3440;
    /* Dark background */
    color: #d8dee9;
    /* Light text */
    padding: 10px;
    border-radius: 5px;
    display: block;
    overflow-x: auto;
    white-space: pre-wrap;
    /* Wrap text to fit within the container */
    word-wrap: break-word;
    /* Break long words to fit within the container */
}

.post-meta {
    font-size: 0.9em;
    color: #666;
    margin-bottom: 10px;
    font-style: italic;
}

.tags {
    margin-top: 10px;
    font-size: 0.9em;
    color: #666;
}

.tag {
    display: inline-block;
    padding: 5px;
    border-radius: 3px;
    margin-right: 5px;
}

.tag:hover {
    background-color: #d8dee9;
    /* Light text */
    color: #2e3440;
    /* Dark background */
}

.tag a {
    color: #2e3440;
    /* Dark text */
    text-decoration: none;
}

.tag a:hover {
    text-decoration: underline;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

p,
ul,
pre {
    line-height: 1.6;
}

a {
    color: #0056b3;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

@media (max-width: 600px) {
    .container {
        padding: 10px;
    }

    header,
    footer {
        padding: 10px;
    }

    .menu {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .menu li {
        margin: 5px 0;
        font-size: 0.9em;
    }
}

nav {
    margin-left: 20px;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 15px;
}

.menu li {
    display: inline;

}

.menu a {
    color: #0056b3;
    text-decoration: none;
    padding: 5px 10px;
    font-size: 1.5em;
}

.menu a:hover {
    text-decoration: underline;
}